<li class="ui-state-default">
  <div class="checkbox">
    <label><input type="checkbox" value="" /><%= task.body %></label>
    <button class="btn btn-danger btn-xs pull-right"><%= fa_icon "trash" %></button>
    <button class="btn btn-primary btn-xs pull-right"><%= fa_icon "pencil" %></button>
  </div>
</li>
